In [3]:
#Create two tuples (1,4,5,6,7,8) (5,6,7,8,9)
#Find the common elements between two tuples
#Concatenate both tuples and remove duplicates from tuple
#Find the index value of 9 (after concatenation)
#multiply above elements 3 times

tuple1=(1,4,3,5,7,8)
tuple2=(5,3,7,8,9)
val1=set(tuple1)
val2=set(tuple2)
value=list(val1.intersection(val2))
print(value)
concat=(list(val1)+list(val2))
print(concat)
print(concat[-1])
print(set(concat))
print(concat*3)

[8, 3, 5, 7]
[1, 3, 4, 5, 7, 8, 3, 5, 7, 8, 9]
9
{1, 3, 4, 5, 7, 8, 9}
[1, 3, 4, 5, 7, 8, 3, 5, 7, 8, 9, 1, 3, 4, 5, 7, 8, 3, 5, 7, 8, 9, 1, 3, 4, 5, 7, 8, 3, 5, 7, 8, 9]
None
3

In [24]:
#List
#Create an empty list (two ways)
#Concatenate with [5,6,7,8]
#add 8,9,1,5,6,7,8,1 elements to that list
#Find frequency of 8 (count)
#find the mean of the list
#find sum (List) + min + Max 
#Find median of the list
#remove duplicates from list and give output in the format of tuple

list1=[]
list2=list1+[5,7,8,9,4]
print(list2.extend([8,9,1,5,6,7,8,1]))
print(list2)
print(list2.count(8))
print(len(list2))
print(sum(list2))
print(sum(list2)+min(list2)+max(list2))
print(set(list2))

None
[5, 7, 8, 9, 4, 8, 9, 1, 5, 6, 7, 8, 1]
3
13
78
88
{1, 4, 5, 6, 7, 8, 9}

In [44]:
#Create two empty sets
#update set1 with 7,8,9,1,2,3,4,5,0
#update set2 with 4,5,6,0
#check whether set2 is subset of set1 or no ?
#check whether both have common elements are no ?
#remove 8 from set 1 and set 2 ==> find the inferences
#discard 0 from set1 and set2 
#find collection of both sets ===> set1 and set2


set1=set()
set2=set()
set1.update([7,8,9,1,2,3,4,5,0])
set2.update([4,5,6,0])
print(set1)
print(set2)
print(set2.issubset(set1))
print(set1.intersection(set2))
set1.discard(8)
print(set1)
set1.discard(0)
set2.discard(0)
print(set1)
print(set2)
sets=set(list(set1)+list(set2))
print(sets)

{0, 1, 2, 3, 4, 5, 7, 8, 9}
{0, 4, 5, 6}
False
{0, 4, 5}
{0, 1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 9}

In [174]:
#Dictionary:
#create a dictionary
#{1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}
#Extract "bobtn" from above dictionary
#Extract "arbeg" from above dictionary
#print all keys in dictionary and convert it into tuple
#Find the average of all numbers available under key "2"

dicti={
    1: ["english","maths","science"],
    2: [10,20,30],
    3: ["bio-botany","bio-zoology","Algebra"]}

print(dicti[3][0][4:-1])
print(dicti[3][2][-1:1:-1])
print(dicti.keys())
print(sum(dicti[2]) / len(dicti[2]))

botan
arbeg
dict_keys([1, 2, 3])
20.0

In [181]:
li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]

print(li1[3])
print(li1[4][1])
print(li1[4][4][1])
print(li1[4][4][3][2][1])
print(li1[4][4][3][2][3][3:6])
print(li1[4][4][3][0])
print(li1[4][4][3][4])
print(li1[4][4][6])
print(li1[4][5])
print(li1[4][4][3][2][2][4:6])
print(li1[4][4][2])
print(li1[4][4][3][1])          #5
                                #56
                                #222
                                #50000
                                #put
                                #5555
                                #7777
                                #666
                                #89
                                #on
                                #333
                                #3333

5
56
222
50000
put
5555
7777
666
89
on
333
3333

In [188]:
#Task2
a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]

#Extract
print(a[4][3][9:16])#science
print(a[4][3][:8])#computer

science
Computer

In [200]:
#Task3
a = [1,2,3,4,[101,102,103,[201,202,[999]], 666, 777]]

#Extract
print(a[4][4])#666
print(a[4][3][0])#201
print(a[4][1])#102
print(a[4][3][2][0])#999
print(a[4][5])#777

666
201
102
999
777

In [206]:
#Task4:
li1 = [2,3,"python","hello",4,5,0]  

#Extract
print(li1[3][2:4])#ll
print(li1[2][2:6])#thon

ll
thon

In [209]:
#Task5
Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],7777]
#Output Prediction 
print(Li1[5][0])
print(Li1[5][6])
print(Li1[5][-2])
print(Li1[5][7])
print(Li1[6])
print(Li1[5][5][1])
print(Li1[-2][-1])
print(Li1[-2][2:4])

11
6666
6666
7777
7777
222
7777
[33, 44]

In [231]:
#Task6:
a = {1: [1,2,3,"python"], 
     2:{10:"hello",20:"welcome",40: "science"}, 
     99: {3,4,5,6}, 40:{1:"zoology", 2:"Botany"}}
print(a[1][3][:2])#py
print(a[2][10][1:])#ello
print(a[2][40][3:5])#en
print(a[40][1][:3])#zoo
print(a[40][2][:3])#Bot
print(a)

py
ello
en
zoo
Bot
{1: [1, 2, 3, 'python'], 2: {10: 'hello', 20: 'welcome', 40: 'science'}, 99: {3, 4, 5, 6}, 40: {1: 'zoology', 2: 'Botany'}}

In [266]:
#Task7:
#Covert below two lists in to a dictionary
li1=[1,2,3,4,5]
li2=["python","cpp","c","java","php"]
li3=dict(zip(li1,li2))
print(li3)

<class 'TypeError'>: 'zip' object is not callable

In [265]:
#Task8:
#Convert below set in to a list
set1={5,4,3,6,2,7,1}
list1=list(set1)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [267]:
#Task9:
#Remove duplicates from below list
mylist=[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
set1=set(mylist)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [270]:
#Task10:
#Convert below one to tuple
mylist=[5,4,3,6,2,7,1,2,3,4,1,2,3,4,5,6,5]
convert=tuple(mylist)
print(type(convert),convert)

<class 'tuple'> (5, 4, 3, 6, 2, 7, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 5)